.Expense-Container {
  width: 600px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px 10px;
  background: #eebbd7;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin: auto;
  align-items: center;
  
}

/* Labels */
.Expense-Form label {
  font-weight: 600;
  align-self: center;
}

/* Inputs */
.Expense-Form input,
.Expense-Form select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
}

/* Button */
.Expense-Form button {
  grid-column: span 2;
  padding: 12px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.Expense-Form button:hover {
  background: #357ABD;
}
